---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Karim Dahmani" description="About Karim Dahmani">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				tagline="Thank you for visiting. To learn more about my background, find more details below."
			>
				<img
					width="1553"
					height="873"
					src="/assets/JobDone.webp"
					alt="A picture of Karim at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Profil</h2>
				<div class="content">
					<p>
						After many great experiences in various fields, it is time for me to achieve the most important goal in the life of an employee, which is professional fulfillment.
						</br></br>
						That's why I decided to undertake a professional reconversion and make my passion for the world of Tech, and more specifically programming, my full-time job!
					</p>
					<p>
						To achieve this goal in the best conditions, I first opted for a training course leading to the RNCP title of Front-End Web Developer/Integrator.
					</p>
					<p>
						I want to go further and complete my new skills with a work-study training as an Application Developer. The ideal company to welcome me during this period and which will support me in this new adventure.
						</br></br>
						I am looking for the ideal company to welcome me during this period and who will be able to support me in this new adventure.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Targeted work-study program</h2>
				<div class="content">
					<p>
						Training organization : <a href="https://simplon.co/" target="_blank">Simplon.co</a>
					</p>
					<p>
						Targeted certifications and specialties:
					</p>
					<p>
						<a href="https://www.francecompetences.fr/recherche/rncp/31678/" target="_blank">RNCP31678</a> Application Developer Designer
					</p>
					<p>
						<a href="https://www.francecompetences.fr/recherche/rs/5043/" target="_blank">RS5043</a> Operating DevOps Toolchain Development Tools
					</p>
					<p>
						<a href="https://www.francecompetences.fr/recherche/rs/5487/" target="_blank">RS5487</a> Managing a project using agile methods.
					</p>
					<p>
						Start : September 2024
					</p>
					<p>
						Duration : 18 months
					</p>
					<p>
						Pace: 3 weeks in a company and 1 week in training
					</p>
					<p>
						<a href="https://simplon.co/session/concepteur-rice-developpeur-se-en-environnement-devops-27/1235" target="_blank">Discover the complete program and targeted skills</a>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Degrees</h2>
				<div class="content">
					<p>
						- Level 5 Diploma (BAC +2) Front-End Web Developer/Integrator - 2024
					</p>
					<p>
						- Bachelor's Degree in Electronics - 2007
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Hard Skills</h2>
				<div class="content">
					<p>- CSS3</p>
					<p>- HTML5</p>
					<p>- Figma</p>
					<p>- SASS</p>
					<p>- NodeJS</p>
					<p>- JavaScript</p>
					<p>- ReactJS</p>
					<p>- ViteJS</p>
					<p>- TypeScript</p>
					<p>- Git</p>
					<p>- GitHub</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Soft Skills</h2>
				<div class="content">
					<p>- Stress and psychosocial risk management</p>
					<p>- Agility, teamwork and autonomy</p>
					<p>- Intellectual curiosity, rigor and adaptability</p>
					<p>- Customer Relationship & Dispute Management</p>
					<p>- Priority management and organization of working time</p>
					<p>- Employee Training and Team Management</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
